body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    min-height: 250px;
    min-width: 250px;
    background-image: linear-gradient(270deg, #AAEAFF, #BAEFFF)
}

.nav {
    width: 100%;
    height: 10%;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}

.sidebar {
    width: 225px;
    height: 90%;
    min-height: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.main{
    height: 90%;
    min-height: 250px;
    width: calc(100% - 225px);
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 21%;
    min-width: 225px !important;
    margin: 2% !important;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    margin: 5%;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.8);
    border: 2px solid;
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: screen;
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.search{
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.8);
    border: 2px solid;
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: screen;
}

.search::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

/* Card Layout in Main Content */
.card {
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid;
}
.card a {
    /* color: black;
    text-decoration: none; */
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}